# PlatformIO build artifacts
.pio/

# VS Code (workspace & caches)
.vscode/
*.code-workspace

# C/C++ index cache
.vscode/.browse.c_cpp.db*
.vscode/ipch/

# OS
.DS_Store

# Secrets / credentials
secrets.h
*.key
*.pem
